In [6]:
import pandas as pd
from prophet import Prophet
from prophet.plot import plot_plotly, plot_components_plotly
from platform import python_version

In [8]:
#data = pd.read_csv('RTX.csv')
data = pd.read_csv('outfile.csv')
#data['ds'] = pd.to_datetime(data['ds'],format='%Y-%m-%d',dayfirst=True)
data['ds'] = pd.to_datetime(data['ds'],format='%Y-%m-%d %H:%M:%S',dayfirst=False) ###RTX

In [9]:
print(python_version())

3.11.4

In [11]:
print(data)

                          ds       y
0  2023-06-14 00:00:00+02:00   97.25
1  2023-06-14 01:00:00+02:00  102.25
2  2023-06-14 02:00:00+02:00  105.58
3  2023-06-14 03:00:00+02:00  104.12
4  2023-06-14 04:00:00+02:00   96.14
5  2023-06-14 05:00:00+02:00   98.14
6  2023-06-14 06:00:00+02:00  126.93
7  2023-06-14 07:00:00+02:00  136.99
8  2023-06-14 08:00:00+02:00  128.00
9  2023-06-14 09:00:00+02:00  103.32
10 2023-06-14 10:00:00+02:00  106.06
11 2023-06-14 11:00:00+02:00  117.09
12 2023-06-14 12:00:00+02:00  117.12
13 2023-06-14 13:00:00+02:00  120.55
14 2023-06-14 14:00:00+02:00  113.99
15 2023-06-14 15:00:00+02:00  120.94
16 2023-06-14 16:00:00+02:00  124.02
17 2023-06-14 17:00:00+02:00  116.43
18 2023-06-14 18:00:00+02:00  119.98
19 2023-06-14 19:00:00+02:00  142.07
20 2023-06-14 20:00:00+02:00  152.79
21 2023-06-14 21:00:00+02:00  144.30
22 2023-06-14 22:00:00+02:00  119.77
23 2023-06-14 23:00:00+02:00  108.70
24 2023-06-15 00:00:00+02:00  107.12
25 2023-06-15 01:00:00+02:00  102.77
26 2023-06-15 02:00:00+02:00  100.62
27 2023-06-15 03:00:00+02:00  101.24
28 2023-06-15 04:00:00+02:00  100.37
29 2023-06-15 05:00:00+02:00  113.38
30 2023-06-15 06:00:00+02:00  159.99
31 2023-06-15 07:00:00+02:00  166.10
32 2023-06-15 08:00:00+02:00  140.07
33 2023-06-15 09:00:00+02:00  130.50
34 2023-06-15 10:00:00+02:00  107.52
35 2023-06-15 11:00:00+02:00  116.94
36 2023-06-15 12:00:00+02:00  116.45
37 2023-06-15 13:00:00+02:00  117.21
38 2023-06-15 14:00:00+02:00  116.92
39 2023-06-15 15:00:00+02:00  103.17
40 2023-06-15 16:00:00+02:00  119.10
41 2023-06-15 17:00:00+02:00  131.90
42 2023-06-15 18:00:00+02:00  152.87
43 2023-06-15 19:00:00+02:00  160.04
44 2023-06-15 20:00:00+02:00  179.22
45 2023-06-15 21:00:00+02:00  172.31
46 2023-06-15 22:00:00+02:00  150.76
47 2023-06-15 23:00:00+02:00  125.31

In [12]:
#create model for prophet
model = Prophet()
model.fit(data)

ValueError: Column ds has timezone specified, which is not supported. Remove timezone.

In [13]:
future = model.make_future_dataframe(periods=5,freq='H')

In [14]:
future.tail(60)

                          ds
0  2023-06-14 00:00:00+02:00
1  2023-06-14 01:00:00+02:00
2  2023-06-14 02:00:00+02:00
3  2023-06-14 03:00:00+02:00
4  2023-06-14 04:00:00+02:00
5  2023-06-14 05:00:00+02:00
6  2023-06-14 06:00:00+02:00
7  2023-06-14 07:00:00+02:00
8  2023-06-14 08:00:00+02:00
9  2023-06-14 09:00:00+02:00
10 2023-06-14 10:00:00+02:00
11 2023-06-14 11:00:00+02:00
12 2023-06-14 12:00:00+02:00
13 2023-06-14 13:00:00+02:00
14 2023-06-14 14:00:00+02:00
15 2023-06-14 15:00:00+02:00
16 2023-06-14 16:00:00+02:00
17 2023-06-14 17:00:00+02:00
18 2023-06-14 18:00:00+02:00
19 2023-06-14 19:00:00+02:00
20 2023-06-14 20:00:00+02:00
21 2023-06-14 21:00:00+02:00
22 2023-06-14 22:00:00+02:00
23 2023-06-14 23:00:00+02:00
24 2023-06-15 00:00:00+02:00
25 2023-06-15 01:00:00+02:00
26 2023-06-15 02:00:00+02:00
27 2023-06-15 03:00:00+02:00
28 2023-06-15 04:00:00+02:00
29 2023-06-15 05:00:00+02:00
30 2023-06-15 06:00:00+02:00
31 2023-06-15 07:00:00+02:00
32 2023-06-15 08:00:00+02:00
33 2023-06-15 09:00:00+02:00
34 2023-06-15 10:00:00+02:00
35 2023-06-15 11:00:00+02:00
36 2023-06-15 12:00:00+02:00
37 2023-06-15 13:00:00+02:00
38 2023-06-15 14:00:00+02:00
39 2023-06-15 15:00:00+02:00
40 2023-06-15 16:00:00+02:00
41 2023-06-15 17:00:00+02:00
42 2023-06-15 18:00:00+02:00
43 2023-06-15 19:00:00+02:00
44 2023-06-15 20:00:00+02:00
45 2023-06-15 21:00:00+02:00
46 2023-06-15 22:00:00+02:00
47 2023-06-15 23:00:00+02:00
48 2023-06-16 00:00:00+02:00
49 2023-06-16 01:00:00+02:00
50 2023-06-16 02:00:00+02:00
51 2023-06-16 03:00:00+02:00
52 2023-06-16 04:00:00+02:00

In [15]:
forecast = model.predict(future)

Exception: Model has not been fit.

In [16]:
print(forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail(30))

NameError: name 'forecast' is not defined

In [17]:
fig1 = model.plot(forecast)
fig2 = model.plot_components(forecast)

NameError: name 'forecast' is not defined

In [18]:

plot_plotly(model, forecast)

NameError: name 'forecast' is not defined

In [19]:
plot_components_plotly(model, forecast)

NameError: name 'forecast' is not defined